In [1]:
import pandas as pd
import numpy as np
import os
import json
import chardet

In [2]:
dir_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/02.라벨링데이터/TL_나무'
with open(dir_path+'/나무_7_남_00242.json','rb') as f:
    raw_data = f.read()
    encoding = chardet.detect(raw_data)['encoding']
    data = raw_data.decode(encoding)

json_data=json.loads(data)
print(json_data)

{'meta': {'img_id': '나무_7_남_A066_jtg_20220902_14071525_0830', 'contributor': 'A066', 'date_created': '2022-09-21', 'img_path': '../../원천데이터/나무/나무_7_남_00242.jpg', 'label_path': './나무_7_남_00242.json', 'img_size': 65227, 'img_resolution': '1280x1280', 'age': 7, 'sex': '남'}, 'annotations': {'anno_id': 'm6nn3y9lv6poyxhnhao7', 'class': '나무', 'bbox_count': 25, 'bbox': [{'label': '나무전체', 'x': 274, 'y': 226, 'w': 504, 'h': 675}, {'label': '기둥', 'x': 471, 'y': 498, 'w': 107, 'h': 333}, {'label': '수관', 'x': 279, 'y': 225, 'w': 484, 'h': 338}, {'label': '가지', 'x': 542, 'y': 579, 'w': 208, 'h': 115}, {'label': '뿌리', 'x': 399, 'y': 822, 'w': 303, 'h': 78}, {'label': '나뭇잎', 'x': 746, 'y': 420, 'w': 27, 'h': 40}, {'label': '나뭇잎', 'x': 735, 'y': 500, 'w': 41, 'h': 75}, {'label': '나뭇잎', 'x': 551, 'y': 528, 'w': 34, 'h': 48}, {'label': '나뭇잎', 'x': 594, 'y': 579, 'w': 27, 'h': 45}, {'label': '나뭇잎', 'x': 667, 'y': 650, 'w': 44, 'h': 53}, {'label': '꽃', 'x': 764, 'y': 766, 'w': 100, 'h': 127}, {'label': '열매', 'x': 279, 'y': 395, 'w': 18, 'h': 43}, {'label': '열매', 'x': 302, 'y': 482, 'w': 25, 'h': 46}, {'label': '열매', 'x': 376, 'y': 533, 'w': 20, 'h': 46}, {'label': '그네', 'x': 601, 'y': 650, 'w': 117, 'h': 151}, {'label': '새', 'x': 656, 'y': 551, 'w': 95, 'h': 80}, {'label': '다람쥐', 'x': 425, 'y': 630, 'w': 92, 'h': 67}, {'label': '구름', 'x': 741, 'y': 168, 'w': 507, 'h': 266}, {'label': '구름', 'x': 186, 'y': 157, 'w': 561, 'h': 164}, {'label': '달', 'x': 49, 'y': 21, 'w': 98, 'h': 219}, {'label': '별', 'x': 190, 'y': 20, 'w': 195, 'h': 162}, {'label': '별', 'x': 397, 'y': 18, 'w': 176, 'h': 123}, {'label': '별', 'x': 577, 'y': 16, 'w': 206, 'h': 141}, {'label': '별', 'x': 761, 'y': 2, 'w': 279, 'h': 161}, {'label': '별', 'x': 1029, 'y': 0, 'w': 213, 'h': 167}]}, 'shape_description': {'prop_obj_img': [[0.2076416015625], [0.0217474365234375], [0.0998486328125], [0.014599609375], [0.014425048828125], [0.0006591796875, 0.0018768310546875, 0.00099609375, 0.0007415771484375, 0.00142333984375], [0.00775146484375], [0.000472412109375, 0.000701904296875, 0.0005615234375], [0.0107830810546875], [0.004638671875], [0.00376220703125], [0.082313232421875, 0.05615478515625], [0.013099365234375], [0.019281005859375, 0.013212890625, 0.017728271484375, 0.0274163818359375, 0.0217108154296875]], 'prop_obj_cls': [[1.0], [0.10473544973544974], [0.48087007642563195], [0.07031158142269253], [0.06947089947089947], [0.0031746031746031746, 0.009038800705467372, 0.004797178130511464, 0.0035714285714285713, 0.006854791299235744], [0.03733098177542622], [0.002275132275132275, 0.0033803644914756027, 0.002704291593180482], [0.05193121693121693], [0.022339800117577895], [0.01811875367430923], [0.39641975308641975, 0.2704409171075838], [0.06308641975308642], [0.09285714285714286, 0.0636331569664903, 0.08537918871252205, 0.13203703703703704, 0.10455908289241622]], 'num_obj': [1, 1, 1, 1, 1, 5, 1, 3, 1, 1, 1, 2, 1, 5], 'centroid_cls': [0.41131535656123813, 0.44056786474495]}}

In [3]:
df=pd.DataFrame(json_data)

In [4]:
df

,meta,annotations,shape_description
img_id,나무_7_남_A066_jtg_20220902_14071525_0830,NaN,NaN
contributor,A066,NaN,NaN
date_created,2022-09-21,NaN,NaN
img_path,../../원천데이터/나무/나무_7_남_00242.jpg,NaN,NaN
label_path,./나무_7_남_00242.json,NaN,NaN
img_size,65227,NaN,NaN
img_resolution,1280x1280,NaN,NaN
age,7,NaN,NaN
sex,남,NaN,NaN
anno_id,NaN,m6nn3y9lv6poyxhnhao7,NaN
class,NaN,나무,NaN
bbox_count,NaN,25,NaN
bbox,NaN,"[{'label': '나무전체', 'x': 274, 'y': 226, 'w': 50...",NaN
prop_obj_img,NaN,NaN,"[[0.2076416015625], [0.0217474365234375], [0.0..."
prop_obj_cls,NaN,NaN,"[[1.0], [0.10473544973544974], [0.480870076425..."
num_obj,NaN,NaN,"[1, 1, 1, 1, 1, 5, 1, 3, 1, 1, 1, 2, 1, 5]"
centroid_cls,NaN,NaN,"[0.41131535656123813, 0.44056786474495]"

In [13]:
df_cat=pd.DataFrame(df.loc['bbox','annotations'])

In [14]:
df_cat

   label     x    y    w    h
0   나무전체   274  226  504  675
1     기둥   471  498  107  333
2     수관   279  225  484  338
3     가지   542  579  208  115
4     뿌리   399  822  303   78
5    나뭇잎   746  420   27   40
6    나뭇잎   735  500   41   75
7    나뭇잎   551  528   34   48
8    나뭇잎   594  579   27   45
9    나뭇잎   667  650   44   53
10     꽃   764  766  100  127
11    열매   279  395   18   43
12    열매   302  482   25   46
13    열매   376  533   20   46
14    그네   601  650  117  151
15     새   656  551   95   80
16   다람쥐   425  630   92   67
17    구름   741  168  507  266
18    구름   186  157  561  164
19     달    49   21   98  219
20     별   190   20  195  162
21     별   397   18  176  123
22     별   577   16  206  141
23     별   761    2  279  161
24     별  1029    0  213  167

In [15]:
df_cat['x']=df_cat['x']+(df_cat['w']//2)
df_cat['y']=df_cat['y']+(df_cat['h']//2)
df_cat

   label     x    y    w    h
0   나무전체   526  563  504  675
1     기둥   524  664  107  333
2     수관   521  394  484  338
3     가지   646  636  208  115
4     뿌리   550  861  303   78
5    나뭇잎   759  440   27   40
6    나뭇잎   755  537   41   75
7    나뭇잎   568  552   34   48
8    나뭇잎   607  601   27   45
9    나뭇잎   689  676   44   53
10     꽃   814  829  100  127
11    열매   288  416   18   43
12    열매   314  505   25   46
13    열매   386  556   20   46
14    그네   659  725  117  151
15     새   703  591   95   80
16   다람쥐   471  663   92   67
17    구름   994  301  507  266
18    구름   466  239  561  164
19     달    98  130   98  219
20     별   287  101  195  162
21     별   485   79  176  123
22     별   680   86  206  141
23     별   900   82  279  161
24     별  1135   83  213  167

In [31]:
df_cat_divin

           x         y         w         h
0   0.214062  0.176563  0.393750  0.527344
1   0.367969  0.389062  0.083594  0.260156
2   0.217969  0.175781  0.378125  0.264062
3   0.423438  0.452344  0.162500  0.089844
4   0.311719  0.642188  0.236719  0.060937
5   0.582812  0.328125  0.021094  0.031250
6   0.574219  0.390625  0.032031  0.058594
7   0.430469  0.412500  0.026562  0.037500
8   0.464062  0.452344  0.021094  0.035156
9   0.521094  0.507812  0.034375  0.041406
10  0.596875  0.598437  0.078125  0.099219
11  0.217969  0.308594  0.014063  0.033594
12  0.235937  0.376563  0.019531  0.035937
13  0.293750  0.416406  0.015625  0.035937
14  0.469531  0.507812  0.091406  0.117969
15  0.512500  0.430469  0.074219  0.062500
16  0.332031  0.492188  0.071875  0.052344
17  0.578906  0.131250  0.396094  0.207813
18  0.145313  0.122656  0.438281  0.128125
19  0.038281  0.016406  0.076563  0.171094
20  0.148438  0.015625  0.152344  0.126562
21  0.310156  0.014063  0.137500  0.096094
22  0.450781  0.012500  0.160938  0.110156
23  0.594531  0.001563  0.217969  0.125781
24  0.803906  0.000000  0.166406  0.130469

In [17]:
def divide_by_1280(x):
    if isinstance(x, (int, float)):
        return x / 1280
    else:
        return x

In [36]:
df_cat=df_cat.applymap(divide_by_1280)

In [37]:
df_cat

   label         x         y         w         h
0   나무전체  0.214062  0.176563  0.393750  0.527344
1     기둥  0.367969  0.389062  0.083594  0.260156
2     수관  0.217969  0.175781  0.378125  0.264062
3     가지  0.423438  0.452344  0.162500  0.089844
4     뿌리  0.311719  0.642188  0.236719  0.060937
5    나뭇잎  0.582812  0.328125  0.021094  0.031250
6    나뭇잎  0.574219  0.390625  0.032031  0.058594
7    나뭇잎  0.430469  0.412500  0.026562  0.037500
8    나뭇잎  0.464062  0.452344  0.021094  0.035156
9    나뭇잎  0.521094  0.507812  0.034375  0.041406
10     꽃  0.596875  0.598437  0.078125  0.099219
11    열매  0.217969  0.308594  0.014063  0.033594
12    열매  0.235937  0.376563  0.019531  0.035937
13    열매  0.293750  0.416406  0.015625  0.035937
14    그네  0.469531  0.507812  0.091406  0.117969
15     새  0.512500  0.430469  0.074219  0.062500
16   다람쥐  0.332031  0.492188  0.071875  0.052344
17    구름  0.578906  0.131250  0.396094  0.207813
18    구름  0.145313  0.122656  0.438281  0.128125
19     달  0.038281  0.016406  0.076563  0.171094
20     별  0.148438  0.015625  0.152344  0.126562
21     별  0.310156  0.014063  0.137500  0.096094
22     별  0.450781  0.012500  0.160938  0.110156
23     별  0.594531  0.001563  0.217969  0.125781
24     별  0.803906  0.000000  0.166406  0.130469

In [18]:
def labeling_num(x):
    if isinstance(x,(str)):
        if x=='나무전체':
            return 0
        elif x=='기둥':
            return 1
        elif x=='수관':
            return 2
        elif x=='가지':
            return 3
        elif x=='뿌리':
            return 4
        elif x=='나뭇잎':
            return 5
        elif x=='꽃':
            return 6
        elif x=='열매':
            return 7
        elif x=='그네':
            return 8
        elif x=='새':
            return 9
        elif x=='다람쥐':
            return 10
        elif x=='구름':
            return 11
        elif x=='달':
            return 12
        elif x=='별':
            return 13
    else:
        return x

In [40]:
df_cat=df_cat.applymap(labeling_num)
df_cat

    label         x         y         w         h
0       0  0.214062  0.176563  0.393750  0.527344
1       1  0.367969  0.389062  0.083594  0.260156
2       2  0.217969  0.175781  0.378125  0.264062
3       3  0.423438  0.452344  0.162500  0.089844
4       4  0.311719  0.642188  0.236719  0.060937
5       5  0.582812  0.328125  0.021094  0.031250
6       5  0.574219  0.390625  0.032031  0.058594
7       5  0.430469  0.412500  0.026562  0.037500
8       5  0.464062  0.452344  0.021094  0.035156
9       5  0.521094  0.507812  0.034375  0.041406
10      6  0.596875  0.598437  0.078125  0.099219
11      7  0.217969  0.308594  0.014063  0.033594
12      7  0.235937  0.376563  0.019531  0.035937
13      7  0.293750  0.416406  0.015625  0.035937
14      8  0.469531  0.507812  0.091406  0.117969
15      9  0.512500  0.430469  0.074219  0.062500
16     10  0.332031  0.492188  0.071875  0.052344
17     11  0.578906  0.131250  0.396094  0.207813
18     11  0.145313  0.122656  0.438281  0.128125
19     12  0.038281  0.016406  0.076563  0.171094
20     13  0.148438  0.015625  0.152344  0.126562
21     13  0.310156  0.014063  0.137500  0.096094
22     13  0.450781  0.012500  0.160938  0.110156
23     13  0.594531  0.001563  0.217969  0.125781
24     13  0.803906  0.000000  0.166406  0.130469

In [42]:
df_cat.to_csv('data.txt',index=False,header=False,sep='\t')

In [27]:
#기존의 나무 라벨링을 yolov5에 맞게 변형시키기
dir_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/02.라벨링데이터/TL_나무/'
txt_dir_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/train_txt라벨링/'
dir_path_val='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Validation/02.라벨링데이터/VL_나무/'
txt_dir_path_val='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Validation/val_txt라벨링/'

#x,y,w,h 형식 변환
def divide_by_1280(x):
    if isinstance(x, (int, float)):
        return x / 1280
    else:
        return x
#라벨링 숫자로 변환
def labeling_num(x):
    if isinstance(x,(str)):
        if x=='나무전체':
            return 0
        elif x=='기둥':
            return 1
        elif x=='수관':
            return 2
        elif x=='가지':
            return 3
        elif x=='뿌리':
            return 4
        elif x=='나뭇잎':
            return 5
        elif x=='꽃':
            return 6
        elif x=='열매':
            return 7
        elif x=='그네':
            return 8
        elif x=='새':
            return 9
        elif x=='다람쥐':
            return 10
        elif x=='구름':
            return 11
        elif x=='달':
            return 12
        elif x=='별':
            return 13
    else:
        return x
#라벨링 변환 함수
def newlabeling(dir_path,txt_dir_path):
    #폴더 안의 json파일 가져오기
    for file in os.listdir(dir_path):
        if file.endswith('.json'):
            json_file_path=os.path.join(dir_path,file)
            with open(json_file_path,'rb') as f:
                #확장자명 앞의 5자리 txt가져오기
                txt_file_name=f.name[-10:-5]
                raw_data = f.read()
                encoding = chardet.detect(raw_data)['encoding']
                data = raw_data.decode(encoding)
                json_data=json.loads(data)
                #json데이터 dataframe형식으로 변환
                df=pd.DataFrame(json_data)
                #dataframe중 x,y,w,h 데이터만 가져옴
                df_cat=pd.DataFrame(df.loc['bbox','annotations'])
                # x와 y 위치 수정
                df_cat['x']=df_cat['x']+(df_cat['w']//2)
                df_cat['y']=df_cat['y']+(df_cat['h']//2)
                # x,y,w,h 1280으로 변환
                df_cat=df_cat.applymap(divide_by_1280)
                # 라벨정보 숫자로 변환
                df_cat=df_cat.applymap(labeling_num)
                #txt_dir_path로 txt파일 저장
                df_cat.to_csv(txt_dir_path+txt_file_name+'.txt',index=False,header=False,sep='\t')
                print(txt_dir_path+txt_file_name+'.txt')

In [ ]:
newlabeling(dir_path_val,txt_dir_path_val)

In [32]:
house_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/02.라벨링데이터/TL_집'
house_txt_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/02.라벨링데이터/집_txt'
boy_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/02.라벨링데이터/TL_남자사람'
boy_txt_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/02.라벨링데이터/남자사람_txt'
girl_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/02.라벨링데이터/TL_여자사람'
girl_txt_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/02.라벨링데이터/여자사람_txt'
val_house_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Validation/02.라벨링데이터/VL_집'
val_house_txt_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Validation/02.라벨링데이터/집_txt'
val_boy_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Validation/02.라벨링데이터/VL_남자사람'
val_boy_txt_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Validation/02.라벨링데이터/남자사람_txt'
val_girl_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Validation/02.라벨링데이터/VL_여자사람'
val_girl_txt_label_path='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Validation/02.라벨링데이터/여자사람_txt'

In [ ]:
newlabeling(house_label_path,house_txt_label_path)

In [30]:
#탭문자열 공백문자로 바꾸기
for file in os.listdir(txt_dir_path_val):
    if file.endswith('.txt'):
        file_path=os.path.join(txt_dir_path_val,file)
        
        with open(file_path, 'r') as file:
            text = file.read()
            text = text.replace('\t', ' ')
        # 수정된 텍스트를 다시 파일에 쓰기
        with open(file_path, 'w') as file:
            file.write(text)

In [80]:
image_dir='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Training/01.원천데이터/TS_나무/'
for filename in os.listdir(image_dir):
    # txt_file_name=filename[-9:-4]
    file_path = os.path.join(image_dir, filename)
    new_filename = filename+'.jpg'
    # 파일명 변경
    os.rename(file_path, os.path.join(image_dir, new_filename))

In [81]:
image_dir='C:/Users/Administrator/266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축/01-1.정식개방데이터/Validation/01.원천데이터/VS_나무/'
for filename in os.listdir(image_dir):
    txt_file_name=filename[-9:-4]
    file_path = os.path.join(image_dir, filename)
    new_filename = txt_file_name
    # 파일명 변경
    os.rename(file_path, os.path.join(image_dir, new_filename+'.jpg'))